.todo-list {
  background-color: white;
  margin: auto auto 30px auto;
  width: 50%;
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  padding: 30px;
}

.todo-item {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #282c34;
}

input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
}

input[type=checkbox]:focus {
  outline: 0;
}

.flex-container {
  display: flex;
  /* height: 200px;
  align-items: flex-start; */
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
  min-height: 30vh;
  margin: 0;
}

.flex-container > .flex-item {
  flex: auto;
}

.flex-container > .raw-item {
  background-color: #282c34;
  justify-content: flex-end;
  align-items: baseline;
  width: 100px;
}

body {
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header, .App-content {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* justify-content: flex-end; */
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.App-content {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(105, 101, 101);
}


.App-link {
  color: #09d3ac;
}

.navbar {
  height: 100px;
  background-color: #333;
  color: #09d3ac;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  justify-self: right;
}

